@use './components/MainHeader/main-header';


.catalog-container .catalog-categories-pane {
	display: grid;
	grid-gap: 10px 0;
	position: relative;
}

.category-section {
	margin-bottom: 0;
	height: auto;
	width: 100%;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
	grid-template-rows: auto;
	grid-gap: 1rem;
}

.pal--catalog-tile:not(.pal--catalog-tile__list-view):not(.pal--catalog-tile__consulting-view) {
	max-width: 30rem;
}

.pal--catalog-tile {
	max-width: 100% !important;
}

.pal--catalog-tile {
	display: block;
	cursor: pointer;
	box-shadow: 0 1px 2px 0 rgba(0,0,0,.1);
	background-color: var(--cds-ui-01, #f4f4f4);
	padding: 1rem;
	text-decoration: none;
	width: 100%;
}

.pal--catalog-tile__content-wrapper {
	background-color: rgba(0,0,0,0);
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: space-between;
	padding: 0;
	position: relative;
	width: 100%;
}

.pal--catalog-tile .pal--catalog-tile__header-container {
	min-width: 3.5rem;
}

.pal--catalog-tile__header-container {
	display: flex;
	flex-direction: column;
	min-width: 2.5rem;
}

.pal--catalog-tile__desc-container {
	color: var(--cds-text-02, #525252);
	display: flex;
	flex-direction: column;
	font-size: .75rem;
	font-weight: 400;
	justify-content: space-between;
	line-height: 1.25;
	min-height: 6.25rem;
}


/**
<div class="catalog-categories-pain grid-view>
  <div class="catalog-section all_categories>
    <a class="pal--catalog-tile" href="" >
      <div class="pal==catalog-tile__content_wrapper>
        <div class="pal--catalog-tile__header-container> </div>
        <div class="pal--catalog-tile_desc-container> <div>
      <div>
    </a>
  </div>
</div>
*/